terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform/
commands.txt
deployment.yaml.bk.txt
migration-job.yaml.bkp.txt
*.tgz
deployment.yaml.bkp.txt
migration-job.yaml.bkp.txt
.gitignore
